%spinner-bg {
	background-image: linear-gradient(to top, #113456, #225268 76%, #235368);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	overflow: hidden;
}

%spinner-e1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 110%;
	height: 100%;
	transform: translateX(-8%);
	animation: loadingWaveIn 7s ease-in-out infinite alternate;
	min-width: 2464px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2464' height='1200'%3E%3Cdefs%3E%3ClinearGradient y2='158.845%25' y1='0%25' x2='50%25' x1='50%25' id='A'%3E%3Cstop stop-opacity='.1' stop-color='%23b5cede' offset='0%25'/%3E%3Cstop stop-color='%23315870' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M1507.4 677.6c309.2 242.7 628 224.6 956.6-54.3V1200H0V775.5c180.7 24.6 394.7-42 642-199.6 267.7-175 556.2-141 865.5 101.7z' stroke-opacity='.3' stroke='%23fff' fill-rule='evenodd' fill='url(%23A)'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: cover;
	background-position: -160px center;
}

%spinner-e2 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 110%;
	height: 100%;
	transform: translateX(0);
	animation: loadingWaveIn 7s ease-in-out infinite alternate-reverse;
	min-width: 2472px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2472' height='1200'%3E%3Cdefs%3E%3ClinearGradient y2='153.358%25' y1='0%25' x2='50%25' x1='50%25' id='A'%3E%3Cstop stop-opacity='.06' stop-color='%23d1e5f2' offset='0%25'/%3E%3Cstop stop-color='%23375f75' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0 697.397c188.596-88.187 367.342-69.5 536.237 56.1 253.34 188.37 424.147 33.368 582.063-45.147s348.2-195.176 598.373 30.04C1883.455 888.522 2135.23 901.586 2472 777.572v422.695H0v-502.87z' stroke-opacity='.34' stroke='%23fff' fill-rule='evenodd' fill='url(%23A)'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: cover;
	background-position: -320px center;
}

@keyframes loadingWaveIn {
	from {
		transform: translateX(-8%);
	}
	to {
		transform: translateX(0);
	}
}
