/* latin */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(~@local-assets/typo/Avenir-Light.woff2) format('woff2');
}

/* latin */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(~@local-assets/typo/Avenir-Book.woff2) format('woff2');
}

/* latin */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~@local-assets/typo/Avenir-Roman.woff2) format('woff2');
}

/* latin */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(~@local-assets/typo/Avenir-Medium.woff2) format('woff2');
}
