@function toRGB($color) {
	@return red($color) + ', ' + green($color) + ', ' + blue($color);
}

:root,
[data-theme='light'] {
	--color-primary: #{toRGB(#002941)};
	--color-primary-light: #{toRGB(#32516c)};
	--color-primary-dark: #{toRGB(#001825)};

	--color-secondary: #{toRGB(#00FFC8)};
	--color-secondary-light: #{toRGB(#66FFDE)};
	--color-secondary-dark: #{toRGB(#009978)};

	--color-accent-error: #{toRGB(#fb5f58)};
	--color-accent-success: #{toRGB(#5fa85d)};
	--color-accent-icon: #{toRGB(#5987a4)};
	--color-accent-error-light: #{toRGB(#fb5f58)};
	--color-accent-primary: #{toRGB(#32516c)};
	--color-accent-secondary: #{toRGB(#6bccb1)};

	--color-gradient-chart-line-stop-1: #{toRGB(#5987a4)};
	--color-gradient-chart-line-stop-2: #{toRGB(#001825)};
	--color-gradient-chart-column-primary-1: #{toRGB(#2e4e68)};
	--color-gradient-chart-column-primary-2: #{toRGB(#001825)};
	--color-gradient-chart-column-secondary-1: #{toRGB(#98f6dc)};
	--color-gradient-chart-column-secondary-2: #{toRGB(#6bccb1)};

	--color-surface: #{toRGB(#f7f7fa)};
	--color-surface-dark: #{toRGB(#ededf2)};
	--color-surface-light: #{toRGB(#ffffff)};

	--color-dark-surface: #{toRGB(#001825)};
	--color-primary-surface: #{toRGB(#ffffff)};
	--color-dark-text-primary: #{toRGB(#ffffff)};
	--color-dark-text-secondary: #{toRGB(#98f6dc)};

	--color-themed-surface: #{toRGB(#173245)};
	--color-themed-surface-dark: #{toRGB(#001825)};
	--color-themed-surface-light: #{toRGB(#32516c)};

	--color-text-primary: #{toRGB(#002941)};
	--color-text-primary-light: #{toRGB(#ffffff)};
	--color-text-primary-dark: #{toRGB(#ffffff)};
	--color-text-secondary: #{toRGB(#00FFC8)};
	--color-text-secondary-light: #{toRGB(#66FFDE)};
	--color-text-secondary-dark: #{toRGB(#009978)};
	--color-text-error: #{toRGB(#fb5f58)};
	--color-text-accent: #{toRGB(#5987a4)};

	--color-gradient-header: radial-gradient(
		circle at 50% 0,
		RGB(var(--color-primary-light)),
		RGB(var(--color-primary)) 100%,
		RGB(var(--color-gradient-chart-column-primary-1)) 100%
	);
	--color-gradient-card-item: linear-gradient(
		to right,
		RGB(var(--color-primary-light)),
		RGB(var(--color-primary))
	);
	--color-gradient-global-pos: radial-gradient(
		circle 200px at 50% 30%,
		#55839f 10%,
		RGB(var(--color-primary))
	);

	--color-gradient-login: linear-gradient(
		to bottom,
		RGB(var(--color-primary-light)),
		RGB(var(--color-primary)),
		RGB(var(--color-primary-dark))
	);
	--color-gradient-login-aside: linear-gradient(to bottom, #01263b, #001827);

	--color-gradient-menu: linear-gradient(to bottom, #043e60, #001827);

	--color-gradient-acrylic-sheet-stop-1: #{toRGB(#2b475f)};
	--color-gradient-acrylic-sheet-stop-2: #{toRGB(#38536a)};
	--color-gradient-acrylic-sheet-stop-3: #{toRGB(#5c7387)};
	--color-gradient-acrylic-sheet-stop-4: #{toRGB(#8699ab)};

	--color-gradient-acrylic-sheet-background: linear-gradient(
		180deg,
		RGB(var(--color-gradient-acrylic-sheet-stop-1)) 0,
		RGB(var(--color-gradient-acrylic-sheet-stop-2)) 30px,
		RGB(var(--color-gradient-acrylic-sheet-stop-3)) 50px,
		RGB(var(--color-gradient-acrylic-sheet-stop-4))
	);

	--color-gradient-dark-acrylic-sheet-stop-1: #{toRGB(#021a28)};
	--color-gradient-dark-acrylic-sheet-stop-2: #{toRGB(#0b222f)};
	--color-gradient-dark-acrylic-sheet-stop-3: #{toRGB(#243844)};
	--color-gradient-dark-acrylic-sheet-stop-4: #{toRGB(#243844)};

	--color-focus-ring: #{toRGB(#ff9900)};
}

@media ($on-desktop) {
	:root,
	[data-theme='light'] {
		--color-gradient-global-pos: radial-gradient(
			circle 300px at 50% 30%,
			#55839f 10%,
			RGB(var(--color-primary))
		);
	}
}

@media screen {
	[data-theme='dark'] {
		--color-primary: #{toRGB(#002941)};
		--color-primary-dark: #{toRGB(#171717)};
		--color-primary-light: #{toRGB(#95bde0)};
		--color-accent-primary: #{toRGB(#393a3b)};

		--color-secondary: #{toRGB(#6bccb1)};
		--color-secondary-light: #{toRGB(#98f6dc)};
		--color-secondary-dark: #{toRGB(#369c83)};

		--color-surface: #{toRGB(#242424)};
		--color-surface-dark: #{toRGB(#1d1d1d)};
		--color-surface-light: #{toRGB(#2c2c2c)};

		--color-text-primary: #{toRGB(#ffffff)};
		--color-text-primary-light: #{toRGB(#ffffff)};
		--color-text-secondary: #{toRGB(#6bccb1)};
		--color-text-secondary-light: #{toRGB(#98f6dc)};
		--color-text-secondary-dark: #{toRGB(#369c83)};
		--color-text-accent: #{toRGB(#ffffff)};

		--color-dark-surface: #{toRGB(#eeeef3)};
		--color-primary-surface: #{toRGB(#ffffff)};
		--color-dark-text-primary: #{toRGB(#001825)};
		--color-dark-text-secondary: #{toRGB(#001825)};

		--color-themed-surface: #{toRGB(#101010)};
		--color-themed-surface-dark: #{toRGB(#000000)};
		--color-themed-surface-light: #{toRGB(#222222)};

		--color-gradient-chart-line-stop-1: var(--color-secondary-light);
		--color-gradient-chart-line-stop-2: var(--color-secondary);
		--color-gradient-chart-column-primary-1: #{toRGB(#5987a4)};
		--color-gradient-chart-column-primary-2: #{toRGB(#5987a4)};
		--color-gradient-chart-column-secondary-1: #{toRGB(#98f6dc)};
		--color-gradient-chart-column-secondary-2: #{toRGB(#98f6dc)};

		--color-gradient-header: linear-gradient(to bottom, #000, #000);
		--color-gradient-card-item: linear-gradient(to right, #1d1d1d, #1a1a1a);
		--color-gradient-global-pos: radial-gradient(
			circle 200px at 50% 30%,
			#303336,
			#000
		);

		--color-gradient-menu: linear-gradient(
			to bottom,
			RGB(var(--color-surface)),
			RGB(var(--color-surface-dark))
		);

		--color-gradient-acrylic-sheet-stop-1: #{toRGB(#262627)};
		--color-gradient-acrylic-sheet-stop-2: #{toRGB(#282829)};
		--color-gradient-acrylic-sheet-stop-3: #{toRGB(#313132)};
		--color-gradient-acrylic-sheet-stop-4: #{toRGB(#323233)};

		--color-gradient-acrylic-sheet-background: linear-gradient(
			180deg,
			RGB(var(--color-gradient-acrylic-sheet-stop-1)) 0,
			RGB(var(--color-gradient-acrylic-sheet-stop-2)) 30px,
			RGB(var(--color-gradient-acrylic-sheet-stop-3)) 50px,
			RGB(var(--color-gradient-acrylic-sheet-stop-4))
		);

		--color-gradient-dark-acrylic-sheet-stop-1: #{toRGB(#262627)};
		--color-gradient-dark-acrylic-sheet-stop-2: #{toRGB(#282829)};
		--color-gradient-dark-acrylic-sheet-stop-3: #{toRGB(#313132)};
		--color-gradient-dark-acrylic-sheet-stop-4: #{toRGB(#323233)};
	}
}
