$on-mobile: 'max-width: 575.98px';
$on-tablet: 'min-width: 576px';
$on-desktop: 'min-width: 1025px';
$on-big-screens: 'min-width: 1280px';
$on-wide-screens: 'min-width: 1550px';
$on-pwa: 'display-mode: standalone';
