:root {
	--color-primary: 41, 40, 41;
	--color-primary-light: 67, 66, 67;
	--color-primary-dark: 15, 15, 15;

	--color-secondary: 0, 184, 156;
	--color-secondary-light: 0, 235, 199;
	--color-secondary-dark: 0, 133, 113;
	
	--color-accent-error: 251, 95, 88;
	--color-accent-success: 188, 213, 147;
	--color-accent-icon: 89, 135, 164;
	--color-accent-error-light: 251, 95, 88;
	--color-accent-primary: 41, 40, 41;
	--color-accent-secondary: 0, 184, 156;

	--color-gradient-chart-line-stop-1: 89, 135, 164;
	--color-gradient-chart-line-stop-2: 0, 24, 37;
	--color-gradient-chart-column-primary-1: 46, 78, 104;
	--color-gradient-chart-column-primary-2: 0, 24, 37;
	--color-gradient-chart-column-secondary-1: 255, 221, 157;
	--color-gradient-chart-column-secondary-2: 217, 171, 110;

	--color-surface: 247, 247, 250;
	--color-surface-dark: 237, 237, 242;
	--color-surface-light: 255, 255, 255;

	--color-dark-surface: 0, 24, 37;
	--color-dark-text-primary: 255, 255, 255;
	--color-dark-text-secondary: 255, 221, 157;

	--color-text-primary: 41, 40, 41;
	--color-text-primary-light: 255, 255, 255;
	--color-text-secondary: 0, 184, 156;
	--color-text-secondary-light: 255, 221, 157;
	--color-text-secondary-dark: 165, 124, 65;
	--color-text-error: 251, 95, 88;
	--color-text-details: 89, 135, 164;

	--button-color-raised-text: 255,255,255;
}
